.review-container {

    display: flex;

    justify-content: center;

    padding-top: 50px;

}



.review-container h1 {

    text-align: center;

    margin-bottom: 30px;

}



.status {

    font-weight: bold;

}